# Almost the same as usbcore.autosuspend=-1 and usbcore.autosuspend_delay_ms=-1
# Difference is that only by applying both commands in the kernel line, that the change will appear here /sys/module/usbcore/parameters/autosuspend

# https://www.kernel.org/doc/Documentation/usb/power-management.txt
# An example would be to check values you find on /dev/input/by-id/
# udevadm info -a -n /dev/input/by-id/YOUR_DEVICE
ACTION=="add|change", SUBSYSTEMS=="usb", ATTR{power/autosuspend}="-1"
ACTION=="add|change", SUBSYSTEMS=="usb", ATTR{power/autosuspend_delay_ms}="-1"
ACTION=="add|change", SUBSYSTEMS=="input", ATTR{power/autosuspend}="-1"
ACTION=="add|change", SUBSYSTEMS=="input", ATTR{power/autosuspend_delay_ms}="-1"
