[Unit]
Description=Enable ksmd auto-run mode
ConditionPathExists=/sys/kernel/mm/ksm/ksmd_status

[Service]
Type=oneshot
ExecStart=echo 8 > /sys/kernel/mm/ksm/run

[Install]
WantedBy=multi-user.target

