[Unit]
Description=Adjust latency timer for PCI peripherals

[Service]
ExecStart=/usr/bin/setpci -v -s '*:*' latency_timer=20
ExecStart=/usr/bin/setpci -v -s '0:0' latency_timer=0

[Install]
WantedBy=multi-user.target
